{{>head}}
  {{>navbar}}

  <div class="col-8">
    <h1>Soy el contenido del ABOUT</h1>
  </div>

  <div class="col-4">
    <figure>
      <img src="./assets/img/iis.png" class="img-thumbnail" alt="Imagen About">
    </figure>
  </div>
  
{{>footer}}